* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.house {
  height: 400px;
  width: 400px;
  border: 2px solid #000;
  margin: 20px; }
  .house .bedroom {
    height: 50%;
    width: 60%;
    background-color: #3cc;
    float: left; }
  .house .kitchen {
    height: 50%;
    width: 40%;
    background-color: #666;
    float: left; }
  .house .livingroom {
    height: 50%;
    width: 100%;
    background-color: #33c;
    float: left; }
  .house .light {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #fff;
    margin: 90px auto; }
  .house .light.off {
    background-color: #fff; }
  .house .light.on {
    background-color: #ff0; }
  .house .tv {
    height: 6px;
    width: 80px;
    margin: -6px auto 0;
    background-color: #000; }
  .house .tv.on {
    box-shadow: 0px -8px 14px 0px #ccc; }

/*# sourceMappingURL=main.css.map */
